*{
    margin: 0px;
    padding: 0px;
}
.bg{
    background-image: url(restaurant\ bg.jpg);
    background-size: cover;
    height: 600px;
    /* border: 1px solid black; */
    width: 100%;
    position: absolute;
    
}
